name: CI - Build, Scan, Push & Sign

on:
    push:
        branches: ['main']

jobs:
    build-secure-and-sign:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Install Cosign
              uses: sigstore/cosign-installer@v3.5.0

            - name: Build prometheus image
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/prometheus:latest -f prometheus/Dockerfile prometheus/

            - name: Run Trivy Scanner for Prometheus image
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: '${{ secrets.DOCKER_USERNAME }}/prometheus:latest'
                format: 'table'
                exit-code: '0'
                ignore-unfixed: true
                vuln-type: 'os,library'
                severity: 'CRITICAL,HIGH'
                output: 'trivy-report-prometheus.txt'

            - name: Upload Trivy Artifact
              uses: actions/upload-artifact@v4
              with:
                name: security-report-trivy-prometheus
                path: trivy-report-prometheus.txt

            - name: Build grafana image
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/grafana:latest -f grafana/Dockerfile grafana/
  
            - name: Run Trivy Scanner for grafrana image
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: '${{ secrets.DOCKER_USERNAME }}/grafana:latest'
                format: 'table'
                exit-code: '1'
                ignore-unfixed: true
                vuln-type: 'os,library'
                severity: 'CRITICAL,HIGH'
                output: 'trivy-report-grafana.txt'
  
            - name: Upload Trivy Artifact
              uses: actions/upload-artifact@v4
              with:
                name: security-report-trivy-grafana
                path: trivy-report-grafana.txt

            - name: Build node-exporter image
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/node-exporter:latest -f node-exporter/Dockerfile node-exporter/
    
            - name: Run Trivy Scanner for node-exporter image
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: '${{ secrets.DOCKER_USERNAME }}/node-exporter:latest'
                format: 'table'
                exit-code: '0'
                ignore-unfixed: true
                vuln-type: 'os,library'
                severity: 'CRITICAL,HIGH'
                output: 'trivy-report-node-exporter.txt'
    
            - name: Upload Trivy Artifact
              uses: actions/upload-artifact@v4
              with:
                name: security-report-trivy-node-exporter
                path: trivy-report-node-exporter.txt

            - name: Build wordpress image
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/wordpress:latest -f wordpress/Dockerfile wordpress/
      
            - name: Run Trivy Scanner for wordpress image
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: '${{ secrets.DOCKER_USERNAME }}/wordpress:latest'
                format: 'table'
                exit-code: '0'
                ignore-unfixed: true
                vuln-type: 'os,library'
                severity: 'CRITICAL,HIGH'
                output: 'trivy-report-wordpress.txt'
      
            - name: Upload Trivy Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: security-report-trivy-wordpress
                  path: trivy-report-wordpress.txt
            
            - name: Build wordpress-db image
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/wordpress-db:latest -f wordpress-db/Dockerfile wordpress-db/
      
            - name: Run Trivy Scanner for wordpress-db image
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: '${{ secrets.DOCKER_USERNAME }}/wordpress-db:latest'
                format: 'table'
                exit-code: '0'
                ignore-unfixed: true
                vuln-type: 'os,library'
                severity: 'CRITICAL,HIGH'
                output: 'trivy-report-wordpress-db.txt'
      
            - name: Upload Trivy Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: security-report-trivy-wordpress-db
                  path: trivy-report-wordpress-db.txt
  
            - name: Create .env file
              run: |
                touch .env
                echo "PROMETHEUS_PORT=${{ secrets.PROMETHEUS_PORT }}" >> .env
                echo "GRAFANA_ADMIN_USER=${{ secrets.GRAFANA_ADMIN_USER }}" >> .env
                echo "GRAFANA_ADMIN_PASSWORD=${{ secrets.GRAFANA_ADMIN_PASSWORD }}" >> .env
                echo "GRAFANA_PORT=${{ secrets.GRAFANA_PORT }}" >> .env
                echo "WP_USER=${{ secrets.WP_USER }}" >> .env
                echo "WP_PASSWORD=${{ secrets.WP_PASSWORD }}" >> .env
                echo "WP_DATABASE=${{ secrets.WP_DATABASE }}" >> .env
                echo "MYSQL_ROOT_PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }}" >> .env
            
            - name: Start services with docker compose
              run: docker compose -f docker-compose.yml up -d

            - name: health infra
              run: |
                  export $(grep -v '^#' .env | xargs)
                  sleep 15
                  curl -f http://localhost:$GRAFANA_PORT/ || exit 1
                  curl -f http://localhost:$PROMETHEUS_PORT/ || exit 1
                  
            - name: Debug Grafana Logs
              if: failure()
              run: docker logs grafana

            - name: Debug Prometheus Logs
              if: failure()
              run: docker logs prometheus

            - name: Debug node-exporter Logs
              if: failure()
              run: docker logs node-exporter

            - name: Debug wordpress Logs
              if: failure()
              run: docker logs wordpress
            
            - name: Debug wordpress-db Logs
              if: failure()
              run: docker logs wordpress-db

            - name: Stop stack
              run: docker compose down

            - name: Push Prometheus image to Docker Hub
              run: docker push ${{ secrets.DOCKER_USERNAME }}/prometheus:latest

            - name: Sign Prometheus image
              run: cosign sign --yes --key env://COSIGN_PRIVATE_KEY ${{ secrets.DOCKER_USERNAME }}/prometheus:latest
              env:
                COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
                COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}

            - name: Verify Prometheus image signature
              run: cosign verify --key env://COSIGN_PUBLIC_KEY ${{ secrets.DOCKER_USERNAME }}/prometheus:latest
              env:
                COSIGN_PUBLIC_KEY: ${{ secrets.COSIGN_PUBLIC_KEY }}

            - name: Push Grafana image to Docker Hub
              run: docker push ${{ secrets.DOCKER_USERNAME }}/grafana:latest

            - name: Sign Grafana image
              run: cosign sign --yes --key env://COSIGN_PRIVATE_KEY ${{ secrets.DOCKER_USERNAME }}/grafana:latest
              env:
                COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
                COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
  
            - name: Verify Grafana image signature
              run: cosign verify --key env://COSIGN_PUBLIC_KEY ${{ secrets.DOCKER_USERNAME }}/grafana:latest
              env:
                COSIGN_PUBLIC_KEY: ${{ secrets.COSIGN_PUBLIC_KEY }}

            - name: Push node-exporter image to Docker Hub
              run: docker push ${{ secrets.DOCKER_USERNAME }}/node-exporter:latest

            - name: Sign node-exporter image
              run: cosign sign --yes --key env://COSIGN_PRIVATE_KEY ${{ secrets.DOCKER_USERNAME }}/node-exporter:latest
              env:
                COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
                COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
  
            - name: Verify node-exporter image signature
              run: cosign verify --key env://COSIGN_PUBLIC_KEY ${{ secrets.DOCKER_USERNAME }}/node-exporter:latest
              env:
                COSIGN_PUBLIC_KEY: ${{ secrets.COSIGN_PUBLIC_KEY }}

            - name: Push wordpress image to Docker Hub
              run: docker push ${{ secrets.DOCKER_USERNAME }}/wordpress:latest

            - name: Sign wordpress image
              run: cosign sign --yes --key env://COSIGN_PRIVATE_KEY ${{ secrets.DOCKER_USERNAME }}/wordpress:latest
              env:
                COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
                COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
  
            - name: Verify wordpress image signature
              run: cosign verify --key env://COSIGN_PUBLIC_KEY ${{ secrets.DOCKER_USERNAME }}/wordpress:latest
              env:
                COSIGN_PUBLIC_KEY: ${{ secrets.COSIGN_PUBLIC_KEY }}
  
            - name: Push wordpress-db image to Docker Hub
              run: docker push ${{ secrets.DOCKER_USERNAME }}/wordpress-db:latest

            - name: Sign wordpress-db image
              run: cosign sign --yes --key env://COSIGN_PRIVATE_KEY ${{ secrets.DOCKER_USERNAME }}/wordpress-db:latest
              env:
                COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
                COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
  
            - name: Verify wordpress-db image signature
              run: cosign verify --key env://COSIGN_PUBLIC_KEY ${{ secrets.DOCKER_USERNAME }}/wordpress-db:latest
              env:
                COSIGN_PUBLIC_KEY: ${{ secrets.COSIGN_PUBLIC_KEY }}
  
